header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat:no-repeat;

}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}
.btn-primary{
    padding: 12px 35px ;
    background-color: #4E47FF;
    font-size: 16px;
    color: #FFFFFF;
    
    font-weight:bold ;
    border-radius: 10px;
    border: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.open-sans-raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 267.5px ;
    margin-right: 267.5px ;
    margin-bottom: 150px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.container{
     max-width: 517px;
}
.section-description{
    font-size: 24px;
    color: #25243285;
}
.section-container{
    display: flex;
    justify-content: space-between;
    margin: 116px 160px 116px 140px;

}
.banner-pic{
    width: 403px;
    height: 332px;
    border-radius: 48px;
}
.user-section{
    width: 1140px;
    height: 306px;
    border-radius: 24px;
    background-color: #4d47ff10;
    text-align: center;
    margin: 116px;
}
.user-views{
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 50px;
    margin: 0px;
}
.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 30px;
    margin-bottom: 0px;
}
.item-description{
    font-size: 20px;
    color: #00000050;
    margin: 0px;
}
body{
    background-color:#4d47ff0e;
}
.checkbox{
    color: orange;
}
.user-review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;

}
.card-description{
   width: 300px;
   color: #1E1E1E;
   margin: 15pxpx;

}

.card-container{
     width: 1140px;
     height: 342px;
    display: flex;
    justify-content: space-between;
    margin-left: 115px ;
    margin-right: 137px;
    align-items: center;

}
.card{
    border-radius:  14px; 
    border-color:#F2EDED ;
     background-color: #ffffff69;
      gap: 50%;
    padding: 24px ;
    width: 300px;
    height: 200px;
    margin-left: 20px;
}
.card-profile{
    display: flex;
    align-items: center;

}
.card-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile{
    margin: 0px;
}
.user-review-title{
    font-size: 42px;
    font-weight: bold;
}
.profile-title{
    font-size: 14px;
    color: #757575;
    margin:0px ;
}
.profile-description{
    font-size: 14px;
    color: #B3B3B3;
    margin: 0px;
}
.banner-container{
    width: 1140px;
    height: 696.77px;
    border-radius: 14px;
    background-color: #FFFFFF;
    margin: 151px 120px;
    text-align: center;
}
.banner-container-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    padding-top: 71px;
    margin-bottom: 20px;
}
.banner-container-description{
    color: #00000050;
     margin-bottom: 20px;
}
.banner-container-pic{
    border-radius: 48px;
    width: 840px;
    height: 364.77px;
    margin-top: 20px;
}
.form-section{
    display: flex;
    padding-left:  137px;
    padding-right: 150px;
    justify-content: space-between;
}
section input[type="text"], section input[type="email"],section textarea{
    border-radius: 10px;
    background-color: white;
    display: block;
    border-color: #D6DDED;
    border: none;
    width: 497px;
    gap: 10px;
   
    padding: 32px 20px ;
    margin-bottom: 10px;
}
.column{
    width: 50%;
}

legend{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.section-title1{
    font-size: 97px;
    font-weight: bold;
    max-width: 528px;
   
}
.form-section-title{
    
   text-align: center;
    
}
.form-section{
    width: 1140px;
    height: 696.77px;
}
.btn-primary1{
    padding: 12px 220px ;
    background-color: #4E47FF;
    font-size: 16px;
    color: #FFFFFF;
    
    font-weight:bold ;
    border-radius: 10px;
    border: none;
}
